<div class="container mt-4">
  <div class="card">
    <h1 class="card-header">Candidato
      <button *ngIf="!hasCandidate" (click)="newRedirect()" type="submit" class="btn btn-dark  mt-2 float-end">Crear Candidato</button>
      <button *ngIf="hasCandidate" (click)="editRedirect()"type="submit" class="btn btn-dark  mt-2 float-end">Editar Candidato</button>
    </h1>
    <div class="card-body">
      <div class="card m-5 col-12 mx-auto">
        <div class="card-body">
          <h3 class="card-title " *ngFor="let item of items$ | async">{{item.nombre}} {{item.apellido}}</h3>
          <p class="card-text " *ngFor="let item of items$ | async"><strong>Partido:</strong> {{item.partido}}</p>
          <p class="card-text " *ngFor="let item of items$ | async"><strong>Cedula:</strong> {{item.documento}}</p>
          <p class="card-text " *ngFor="let item of items$ | async"><strong>Numero:</strong> {{item.numero}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
