<h1 class="title">CANDIDATO</h1>

<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-xl-6 col-md-12 card-container">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0" *ngFor="let item of items$ | async">
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25">
                  <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius"
                    alt="User-Profile-Image">
                </div>
                <h6 class="f-w-600">{{item.nombre}} {{item.apellido}}</h6>
                <p>{{item.partido}}</p>
                <a *ngIf="hasCandidate" (click)="editRedirect()" type="submit"><i
                    class="bi bi-pencil-square m-t-10 f-16"></i></a>
                <a *ngIf="!hasCandidate" (click)="newRedirect()" type="submit" class="btn btn-dark  mt-2 float-end"><i
                    class="bi bi-plus-square m-t-10 f-16"></i></a>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Información</h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Cedula</p>
                    <h6 class="text-muted f-w-400">{{item.documento}}</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Número</p>
                    <h6 class="text-muted f-w-400">{{item.numero}}</h6>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Email</p>
                    <h6 class="text-muted f-w-400">{{item.email}}</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Most Viewed</p>
                    <h6 class="text-muted f-w-400">Dinoter husainm</h6>
                  </div>
                </div>
                <ul class="social-link list-unstyled m-t-40 m-b-10">
                  <li><a href="#!" data-original-title="facebook"><i class="bi bi-facebook"></i></a>
                  </li>
                  <li><a href="#!" title="" data-original-title="instagram"><i class="bi bi-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
