<div class="card-body">
  <div class="container mt-5">
    <h1 class="title text-center">REPORTE CONSOLIDADO</h1>
    <div class="row">
      <div class="col-12 mt-5">
        <table class="table mt-5">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Numero de mesas</th>
              <th scope="col">Direccion</th>
              <th scope="col">Testigo</th>
              <th scope="col">Total Votos</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let place of places">
              <td>{{ place.nombre }}</td>
              <td>{{ place.numeroMesas }}</td>
              <td>{{ place.direccion }}</td>
              <td>{{ place.testigoAsignado }}</td>
              <td>{{place.totalVotos}}</td>
              <td>
                <ng-container>
                  <button
                    class="btn btn-sm btn-primary"
                    type="button">
                    <i class="bi bi-eye"></i>
                  </button>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
