<h1 class="title">DASHBOARD</h1>
  <div class="row">
    <div class="col-md-5">
      <div class="chart-container">
        <legend class="title-legend">Genero Usuarios</legend>
        <ngx-charts-advanced-pie-chart id="rangeChart" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
          (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        </ngx-charts-advanced-pie-chart>
      </div>
    </div>
    <div class="col-md-7">
      <div class="chart-container">
        <legend class="title-legend">Rango de Edades</legend>
        <canvas id="ageChart"></canvas>
      </div>
    </div>
  </div>
