@media (max-width: 991.98px) {
  .card-body {
    display: flex;
    flex-direction: column;
  }

  .card-body .row {
    flex-direction: column;
  }

  .card-body .row .card {
    width: 100%;
  }

  .card-body .row .card:nth-child(1) {
    margin-bottom: 20px;
  }
}
