.title{
  text-align: center;
  margin-bottom: 5rem;
}

.btn-separator {
  margin-right: 10px;
}

.spinner-border {
  border-width: 0.10em;
}

input:focus {
  outline: none !important;
}

.cursor-pointer {
  cursor: pointer;
}
