<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="login-form">
        <h2 class="text-center">Inicio de Sesion</h2>
        <div class="d-flex justify-content-center">
          <span *ngIf="submitted && formLogin.invalid" class="badge bg-danger">Todos los campos son
            obligatorios</span>
        </div>
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
          <div class="form-group mt-5">
            <input type="email" class="form-control border-0 border-bottom mt-5" formControlName="email"
              placeholder="Email" [class.is-invalid]="submitted || formLogin.get('email')">
            <div *ngIf="submitted || formLogin.get('email')" class="invalid-feedback">
              El email ingresado no es válido.
            </div>
          </div>
          <div class="form-group mt-4">
            <input type="password" class="form-control border-0 border-bottom mt-4" formControlName="password"
              placeholder="Contraseña" required>
          </div>
          <button type="submit" class="btn btn-secondary mt-3" [disabled]="!formLogin.valid">Iniciar Sesion</button>
        </form>
        <div class="login-links mt-4">
          <a routerLink="/recuperar">Recuperar Contraseña</a>
        </div>
      </div>
    </div>
  </div>
</div>
