.title{
  text-align: center;
  margin-bottom: 5rem;
}

.spinner-border {
  border-width: 0.10em; /* La mitad del valor predeterminado */
}

.border-theme{
  border-color: #263238;
}

.btn-separator {
  margin-right: 10px;
}

.btn-primary {
  margin-right: 10px;
}
