<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="login-form">
        <h2 class="text-center">Recuperacion de Contraseña</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group mt-5">
            <input type="email" class="form-control border-0 border-bottom mt-5" formControlName="email"
              placeholder="Email" required>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
